#####################################################################
#   Probe
#####################################################################

#[probe]
##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling

# Select the probe port by type:
## For the PROBE port. Will not work with Diode. May need pull-up resistor from signal to 24V.
#pin: ~!PB7
## For the DIAG_7 port. NEEDS BAT85 DIODE! Change to !PG15 if probe is NO.
#pin: PG15
## For Octopus Pro Probe port; NPN and PNP proximity switch types can be set by jumper
#pin: ~!PC5

#--------------------------------------------------------------------

#x_offset: 0
#y_offset: 25.0
#z_offset: 0
#speed: 10.0
#samples: 3
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.006
#samples_tolerance_retries: 3

##Klicky
#[probe]
#pin: ^PG11
#x_offset: 18
#y_offset: 21.00
#z_offset: 6.42
#speed: 10
#samples:3
#samples_result: median
#sample_retract_dist: 2.0
#samples_tolerance: 0.011
#samples_tolerance_retries: 10
#drop_first_result: True

[probe]
##	This probe is not used for Z height, only Leveling
##	Z_MAX on mcu_z
pin: ^PG11

# Values for ZeroClick
# Determined from CAD.
# ZeroClick probe position is 7mm from edge.  
# Magnet center is 5mm from edge.
# 9mm between magnet centers.  
# 4.5mm offset + 5mm - 7 --> 2.5mm offset from center of ZeroClick
# 20.95mm X offset from center of toolhead to center of ZeroClick; 21 - 2.5 is -18.5 X offset
# From CAD: 18.2mm Y offset.
x_offset: -18.5
y_offset: 17.5
z_offset: 11.9
speed: 7
lift_speed: 7
samples: 3
samples_result: median
sample_retract_dist: 2
# Was: 0.006
samples_tolerance: 0.01
samples_tolerance_retries: 10